<head>
    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.css" />
    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid-theme.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js" integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.js"></script>
</head>
<body>
    <center> <h2>Hello JS Grid</h2></center>
    <div id="jsGrid"></div>
   

    <script>
        $("#jsGrid").jsGrid({
            width: "100%",
            height: "auto",
            //editing: false,
            editing: true,
            inserting: true,
            deleting: false,
            autoload: true,
            editButton: false,
            deleteButton: false,
            deleting: false,
            filtering: true,
            sorting: true,
            deleteConfirm: "Are you sure to delete the value",
            paging: true,
            controller: {
                loadData: function (filter) {
                    debugger;
                    return $.ajax({
                        type: "GET",
                        url: "/JsGrid/GetProducts",
                        data: filter
                    });
                },

                insertItem: function (item) {
                    return $.ajax({
                        type: "POST",
                        url: "/JsGrid/AddProducts",
                        data: item,
                        success: function (result) {
                            console.log(result);
                        },
                        error: function (xhr, status, error) {
                            console.log(xhr.responseText);
                        }
                    });
                },

                updateItem: function (item) {
                    return $.ajax({
                        type: "POST",
                        url: "/JsGrid/UpdateProducts",
                        data: item
                    });
                },
                deleteItem: function (item) {
                    return $.ajax({
                        type: "POST",
                        url: "/JsGrid/DeleteProduct",
                        data: item
                    });
                }
            },
            fields: [
                { name: "name", type: "text", width: 150 },
                { name: "price", type: "number", width: 100 },
                { type: "control" }
            ]

        });

        //$("#sort").click(function () {
        //    debugger;
        //    var field = $("#sortingField").val();
        //    $("#jsGrid").jsGrid("sort", field);
        // });
    </script>

</body>